<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464996710726-9sblgqspbkamf0f6mlhfvb62dmmih8gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464996710726-9sblgqspbkamf0f6mlhfvb62dmmih8gf</string>
	<key>API_KEY</key>
	<string>AIzaSyCOrwcEF1K6D6UZ29v9knR2KURM_NDq-eM</string>
	<key>GCM_SENDER_ID</key>
	<string>464996710726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vaultBusiness</string>
	<key>PROJECT_ID</key>
	<string>vault-5ad0e</string>
	<key>STORAGE_BUCKET</key>
	<string>vault-5ad0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464996710726:ios:b62e10866d3beb0f2d8d47</string>
</dict>
</plist>